[Desktop Entry]
Terminal=false
Name=FarViewer
GenericName=Document Viewer
Exec=FarPDF %u
Icon=application-pdf
Type=Application
InitialPreference=7
Categories=Qt;Graphics;Office;Viewer;
MimeType=application/pdf
StartupWMClass=farpdf
